body {
    background-color: #fff;
    color: #000;
}

.align-right {
	float: right;
}

.align-center {
	text-align: center;
}

.strike {
	text-decoration: line-through;
}

.icon-gradient, .icon-gradient:before {
    color: #66a6ff;
}

.icon-gradient2, .icon-gradient2:before {
    color: #434343;
}